---
BasedOnStyle: LLVM
Language: Cpp

ColumnLimit: 88
IndentWidth: 4
BracedInitializerIndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
PackConstructorInitializers: NextLine
...
